<div class="button-area-line">
    <button class="item upgrade-button" ng-disabled="uc.recorded.counter < uc.recorded.cost" ng-click="uc.clickedAutoClicker()" onclick="createFirework(100,800,8,5,1,100,50,50,false,false);return false">
        <img class="buttonimg" src="img/Happy_Homer.gif">
        <h2>Homer</h2>
    </button>
    <button class="item upgrade-button" ng-disabled="uc.recorded.counter < uc.recorded.gcost" ng-click="uc.clickGrandpa()" onclick="createFirework(100,800,8,5,1,100,50,50,false,false);return false">
            <img class="buttonimg" src="img/grandpa.png">
            <h2>Old Man</h2>
        </button>

    <button class="upgrade-button button-medium button-positive-900" ng-disabled="uc.recorded.counter < uc.recorded.goal" ng-click="uc.upgradePlayer()">Level Up</button>
</div>