<ion-view id="mainGame" view-title="Game Play" ng-controller="gameController as hc" ng-init="hc.countItDown()">
    <ion-content>
        <toast class="toaster"></toast>
        </div>
        <div class="row enjoy-css">
            <div class="onehundred">{{ hc.selected.counter }}</div>
            <span class="onehundreddonuts"> donuts</span></div>
        <div class="row">
            <div class="onehundred"><span class="textsize">{{ hc.selected.countdown }}</span></div>
            <span class="onehundreddonuts"><span class="textsize">til {{ hc.selected.goal }}</span></span></div>
        <progress id="progressbar" max="{{hc.selected.goal}}" value="{{ hc.selected.goal - hc.selected.countdown }}"></progress>
        <div id="progressbarlabel"></div>
        <div class="main-container">
            <img class="donut" ng-click="hc.showToast(); hc.incrementCounter(); hc.incrementCountdown(); hc.playSound()"
                 ng-src="img/doughnut-giphy.gif" style="height: 180px; width: 170px;" onclick="createFirework(85,62,2,4,50,78,50,78,false,true);">
        </div>
        <img ng-src="{{ hc.selected.img }}">
        <div class="row">
            <h5>Clickers</h5><span>{{ hc.selected.clicker }}</span>
            <h5>Grandpas</h5><span>{{ hc.selected.grandpa }}</span>
        </div>
    </ion-content>
    <ion-footer-bar class="footer">
        <upgrade-directive></upgrade-directive>
    </ion-footer-bar>
</ion-view>