<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url() center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Angular Game</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Username or Email" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-assertive ink">Login</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900" ng-click='googleLogin()'>Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900" ng-click='twitterLogin()'>Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900" ng-click='vm.facebookLogin()' >Facebook</button>
            <button class="button button-small button-border icon-left ion-email button-100" ng-click='emailLogin()'>Email</button>
        </div>
    </ion-content>
</ion-view>
