<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: ac.isExpanded, 'has-header-fab-left': ac.hasHeaderFabLeft, 'has-header-fab-right': ac.hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button ng-if="ac.gameService.isLoggedIn" class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right" >
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: ac.isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="dark-bg expanded">

            <!--<span class="avatar" ng-style="{'background-image': 'url({{ ac.img }})'}"></span>-->
            <!--<h2>User</h2>-->

            <span class="avatar" style="background: background-size: cover;"><img ng-show="authData.facebook.profileImageURL" ng-src="{{ authData.facebook.profileImageURL }}"></span>
            <span class="avatar" style="background: background-size: cover;"><img ng-show="authData.google.profileImageURL" ng-src="{{ authData.google.profileImageURL }}"></span>


            <div>{{ authData.facebook.displayName }}</div>
            <div>{{ authData.google.displayName }}</div>
            <!--<div ng-click="vm.showData=!vm.showData">-->
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">

            <ion-list ng-hide="hc.recorded.displayName != null">



            <ion-list>
                <ion-item class="animate-if" nav-clear menu-close ng-if="ac.gameService.isLoggedIn" ng-click="ac.logout()">Log Out</ion-item>
            </ion-list>
            <ion-list class="animate-if" ng-if="!ac.gameService.isLoggedIn">
                <ion-item class="animate-if" nav-clear menu-close ng-if="ac.gameService.isLoggedIn" ui-sref="app.game">
                    Resume Game
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
