<ion-view id="mainGame" view-title="New Game" class="scroll-content" ng-controller="gameController as hc">
    <ion-content>
        <!--<div class="row">-->
            <!--<div class="onehundred">Click Leaf to Start!</div>-->
        <!--</div>-->
        <div class="main-container">
            <button class="button button-fab button-balanced icon ion-donut" ui-sref="app.game">Start</button>
        </div>
        <div>
            <h1 id="howTo1">
                How To Play
            </h1>
        </div>
        <div>
            <h4 id="howTo">
                <ul><strong>Step 1:</strong>Click the Donut as much as you can!</ul>
                <ul><strong>Step 2:</strong>Get enough Donuts to buy upgrades!</ul>
                <ul><strong>Step 3:</strong>Continue Clicking Away!</ul>
            </h4>
        </div>
    </ion-content>
</ion-view>