
<div class="btn-group btn-group-lg" role="group" id="upgrades">

<div class="button-area-line">
    <button class="item2 upgrade-button" ng-disabled="uc.recorded.counter < uc.recorded.cost" ng-click="uc.clickedAutoClicker()" onclick="createFirework(100,800,8,5,1,100,50,50,false,false);return false">
        <img class="buttonimg" src="img/wizard.png">
        <span>Clicker</span>
        <span>{{ uc.recorded.cost }}</span>
    </button>
    <button class="item2 upgrade-button" ng-disabled="uc.recorded.counter < uc.recorded.gcost" ng-click="uc.clickGrandpa()" onclick="createFirework(100,800,8,5,1,100,50,50,false,false);return false">
            <img class="buttonimg" src="img/grandpa.png">
            <span>Gramps</span>
            <span>{{ uc.recorded.gcost }}</span>
    </button>
    <button class="item2 upgrade-button" ng-disabled="uc.recorded.counter < uc.recorded.goal" ng-click="uc.upgradePlayer()">
        <span>Level Up</span>
        <span>{{ uc.recorded.level }}</span>
    </button>
</div>

</div>
